.mySwiper {
    --swiper-pagination-color: #1a2a42;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}

.swiper-slide {
    margin: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
    cursor: pointer;
}

.swiper-slide img {
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    object-fit: cover;
}

.swiper-tittle {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-tittle span {
    color: #1a2a42;
    font-family: Caveat Brush;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.swiper-tittle button {
    color: gray;
}

.swiper-detail p {
    color: #bdbdbd;
    font-family: Fredoka;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.swiper-detail span {
    color: #1a2a42;
    font-family: Fredoka;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (min-width: 640px) {
    .swiper-slide {
        margin: 8px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 12px;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
        margin-bottom: 40px;
    }
    .swiper-slide img {
        background-color: rgb(233, 233, 233);
        border-radius: 10px;
    }

    .swiper-tittle {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .swiper-tittle span {
        color: #1a2a42;
        font-family: Caveat Brush;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .swiper-tittle button {
        color: gray;
    }

    .swiper-detail p {
        color: #bdbdbd;
        font-family: Fredoka;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .swiper-detail span {
        color: #1a2a42;
        font-family: Fredoka;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}
